.arc-Editor-BarButton {
  display: block;
  width: 18px;
  height: 18px;

  background: rgba(0,0,0,0);
  border: 1px solid #bbb;
  padding: 9px;
  box-sizing: content-box;
  appearance: button;
  cursor: pointer;
  text-transform: none;
  font: inherit;
  outline: none;
  border-radius: 19px;

  transition: -webkit-transform 250ms;
  transition: transform 250ms;
}

.arc-Editor-BarButton__icon {
  color: #bbb;
  text-align: center;
  font-size: 16px;
}

.arc-Editor-BarButton__icon-text {
  @include screenreader;
}

.arc-Editor-BarButton:hover,
.arc-Editor-BarButton:focus {
  border-color: #666;
}
.arc-Editor-BarButton:hover .arc-Editor-BarButton__icon {
  color: #666;
}
