.arc-Editor-Block--first {
  margin-top: 0;
  padding-top: 0;
}

// block
.arc-Editor-Block--header {
  margin: 0;
  margin-top: 40px;
  letter-spacing: -0.02em;
  font-family: $header-font;
}

.arc-Editor-Block--p,
.arc-Editor-Block--list {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
}
.arc-Editor-Block--p {
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .arc-Editor-Block--p,
  .arc-Editor-Block--list {
    font-size: 18px;
  }
}

// lists
.arc-Editor-Block--list {
  padding: 0;
  counter-reset: post;
  list-style: none;
  list-style-image: none;
  font-weight: 200;
}
.arc-Editor-Block--header +.arc-Editor-Block--list {
  margin-top: 10px;
}

.arc-Editor-Block--li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}
.arc-Editor-Block--li:before {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 58px;
  margin-left: -58px;
  text-align: right;
}

.arc-Editor-Block--ul>.arc-Editor-Block--li:before {
  padding-top: 6px;
  padding-right: 15px;
  font-size: 14.3px;
  content: '•';
}
.arc-Editor-Block--ol>.arc-Editor-Block--li:before {
  padding-right: 12px;
  counter-increment: post;
  content: counter(post) ".";
}

// inline
.arc-Editor-Block__strong {
  font-weight: bold;
}
.arc-Editor-Block__em {
  font-style: italic;
}
.arc-Editor-Block__a,
.arc-Editor-Block__a:visited {
  color: $link-color;
}
