.arc-Editor-Block--first {
  margin-top: 0;
  padding-top: 0;
}
.arc-Editor-Block--centered {
  text-align: center;
}

// block
.arc-Editor-Block--header {
  margin: 0;
  margin-top: 40px;
  letter-spacing: -0.02em;
  font-family: $header-font;
}
.arc-Editor-Block--h2 {
  margin-left: -3px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}
.arc-Editor-Block--h3 {
  margin-left: -1.8px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.arc-Editor-Block--h4 {
  margin-bottom: 6px;
  margin-left: -1.5px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .arc-Editor-Block--h2 {
    font-size: 36px;
  }
  .arc-Editor-Block--h3 {
    font-size: 26px;
  }
  .arc-Editor-Block--h4 {
    font-size: 20px;
  }
}

.arc-Editor-Block--p,
.arc-Editor-Block--blockquote,
.arc-Editor-Block--list {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
}
.arc-Editor-Block--p {
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .arc-Editor-Block--p,
  .arc-Editor-Block--blockquote,
  .arc-Editor-Block--list {
    font-size: 18px;
  }
}


// quotes
.arc-Editor-Block--blockquote {
  quotes: none;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
.arc-Editor-Block--blockquote:before,
.arc-Editor-Block--blockquote:after {
  content: '';
  content: none;
}
.arc-Editor-Block--blockquote[data-align="center"] {
  margin: 48px -160px;
  border-left: none;
  padding: 0;
  line-height: 1.4;
  font-size: 32px;

  &:before {
    content: '“';
    margin-right: 4px;
  }
  &:after {
    content: '”';
  }
}
@media (max-width: 767px) {
  .arc-Editor-Block--blockquote {
    padding-left: 17px;
    margin-left: -20px;
  }

  .arc-Editor-Block--blockquote[data-align="center"] {
    line-height: 1.4;
    margin: 43px 0;
    padding-left: 0;
  }
}

// lists
.arc-Editor-Block--list {
  padding: 0;
  counter-reset: post;
  list-style: none;
  list-style-image: none;
  font-weight: 200;
}
.arc-Editor-Block--header +.arc-Editor-Block--list {
  margin-top: 10px;
}

.arc-Editor-Block--li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}
.arc-Editor-Block--li:before {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 58px;
  margin-left: -58px;
  text-align: right;
}

.arc-Editor-Block--ul>.arc-Editor-Block--li:before {
  padding-top: 6px;
  padding-right: 15px;
  font-size: 14.3px;
  content: '•';
}
.arc-Editor-Block--ol>.arc-Editor-Block--li:before {
  padding-right: 12px;
  counter-increment: post;
  content: counter(post) ".";
}

// meta
.arc-Editor-Block[data-align="center"] {
  text-align: center;
}

// inline
.arc-Editor-Block__strong {
  font-weight: bold;
}
.arc-Editor-Block__em {
  font-style: italic;
}
.arc-Editor-Block__a,
.arc-Editor-Block__a:visited {
  color: $link-color;
}
