{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "rules": {
    "no-trailing-spaces": 2,
    "indent": [2, 2],
    "eqeqeq": 2,
    "no-eq-null": 2,

    "react/no-find-dom-node": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-no-undef": 2,
    "react/react-in-jsx-scope": 2
  },

  "globals": {
    "exports": true,
    "require": true,
    "module": true,
    "assert": true,
    "sinon": true,
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true,
    "subject": true,
    "mocha": true,
    "Map": true,
    "History": true,
    "Selection": true,
    "Image": true
  }
}

