body {
  margin: 0;
}

div .ic-Editor-Block--header {
  font-family: "proxima-nova", "Helvetica Neue", arial, helvetica, sans-serif;
}
div .ic-Editor {
  font-family: "calluna", Georgia, "Times New Roman", Times, serif;
}

h2.title {
  font-family: "proxima-nova", "Helvetica Neue", arial, helvetica, sans-serif;
  margin: 20px;
}
