body {
  margin: 0;
}

div .ic-Editor-Block--h2,
div .ic-Editor-Block--h3,
div .ic-Editor-Block--h4 {
  font-family: "proxima-nova", "Helvetica Neue", arial, helvetica, sans-serif;
}
div .ic-Editor {
  font-family: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
}
