.ic-Editor {
  .ic-Editor-Block--first {
    margin-top: 0;
    padding-top: 0;
  }
  .ic-Editor-Block--centered {
    text-align: center;
  }

  /* block */
  .ic-Editor-Block--h2,
  .ic-Editor-Block--h3,
  .ic-Editor-Block--h4 {
    margin-top: 40px;
    letter-spacing: -0.02em;
  }
  .ic-Editor-Block--h2 {
    margin-left: -3px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
  }
  .ic-Editor-Block--h3 {
    margin-left: -1.8px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }
  .ic-Editor-Block--h4 {
    margin-bottom: 2px;
    margin-left: -1.5px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    color: rgba(0,0,0,0.44);
  }

  .ic-Editor-Block--p,
  .ic-Editor-Block--blockquote,
  .ic-Editor-Block--list {
    margin-bottom: 30px;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  }
  .ic-Editor-Block--p {
    letter-spacing: 0.01rem;
    font-weight: 200;
    font-size: 21px;
    line-height: 1.5;
  }
  .ic-Editor-Block--blockquote {
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    border-left: 3px solid rgba(0,0,0,0.8);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 3px;
  }
  .ic-Editor-Block--blockquote[data-align="center"] {
    margin: 48px -160px;
    border-left: none;
    padding: 0;
    line-height: 1.4;
    font-size: 32px;
  }

  .ic-Editor-Block--list {
    counter-reset: post;
    list-style-image: none;
    font-weight: 200;
  }
  .ic-Editor-Block--h1 +.ic-Editor-Block--list,
  .ic-Editor-Block--h2 +.ic-Editor-Block--list,
  .ic-Editor-Block--h3 +.ic-Editor-Block--list {
    margin-top: 10px;
  }

  .ic-Editor-Block--li {
    margin-left: 30px;
    margin-bottom: 12px;
    padding-top: 2px;
  }
  .ic-Editor-Block--li:before {
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 58px;
    margin-left: -58px;
    text-align: right;
  }

  .ic-Editor-Block--ul>.ic-Editor-Block--li:before {
    padding-top: 6px;
    padding-right: 15px;
    font-size: 14.3px;
    content: '•';
  }
  .ic-Editor-Block--ol>.ic-Editor-Block--li:before {
    padding-right: 12px;
    counter-increment: post;
    content: counter(post) ".";
  }

  /* meta */
  .ic-Editor-Block[data-align="center"] {
    text-align: center;
  }


  /* inline */
  .ic-Editor-Block__strong {
    font-weight: bold;
  }
  .ic-Editor-Block__em {
    font-style: italic;
  }
  .ic-Editor-Block__a,
  .ic-Editor-Block__a:visited {
    color: #333;
  }
}
