@import 'variables';

.ic-Editor-MenuItem {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.ic-Editor-MenuItem__button {
  display: block;
  background: rgba(0,0,0,0);
  border: 0;
  color: white;
  padding: 0 10px;
  box-sizing: content-box;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  font: inherit;
  outline: none;
}
.ic-Editor-MenuItem__item:first-child .ic-Editor-MenuItem__button {
  padding-left: 18px;
}
.ic-Editor-MenuItem__item:last-child .ic-Editor-MenuItem__button {
  padding-right: 18px;
}

.ic-Editor-MenuItem__icon {
  color: #fff;
  font-size: 17px;
  line-height: 42px;
}

.ic-Editor-MenuItem__icon-text {
  font-weight: bold;
  line-height: 42px;
}

.ic-Editor-MenuItem__button--active,
.ic-Editor-MenuItem__icon--active {
  color: #57baff;
}
