@import 'variables';

.ic-Editor-Section {
  position: relative;
}
.ic-Editor-Section--first {
  padding-top: 100px;
}

.ic-Editor-Section__divider {
  width: $max-width;
  margin: 0 auto;
}
.ic-Editor-Section--first .ic-Editor-Section__divider {
  display: none;
}

.ic-Editor-Section__hr {
  display: block;
  width: 100px;
  margin: 55px auto 20px auto;
  border: none;
  border-top: medium double $rule-color;
  color: $rule-color;
  text-align: center;
}
.ic-Editor-Section__hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: $bg-color;
}

.ic-Editor-Section__content {
  font-size: $base-font-size;
  line-height: 1.5;
}
.ic-Editor-Section__inner {
  width: $max-width;
  position: relative;
  margin: 0 auto;
}
