@import 'variables';

.ic-Editor-Section {
  position: relative;
}
.ic-Editor-Section--first {
  padding-top: 100px;
}

.ic-Editor-Section__divider {
  width: $max-width;
  margin: 0 auto;
}
.ic-Editor-Section--first .ic-Editor-Section__divider {
  display: none;
}
.ic-Editor-Section__hr {
  display: block;
  width: 100px;
  margin: 50px auto 40px auto;
  border: 0;
  border-top: 1px solid $rule-color;
}

.ic-Editor-Section__content {
  font-size: $base-font-size;
  line-height: 1.5;
}
.ic-Editor-Section__inner {
  width: $max-width;
  position: relative;
  margin: 0 auto;
}
