@import 'variables';

.ic-Editor-Section {
  position: relative;
  clear: both;
}
.ic-Editor-Section--first {
  padding-top: 100px;
}

.ic-Editor-Section__divider {
  width: 700px;
  margin: 0 auto;
}
.ic-Editor-Section--first .ic-Editor-Section__divider {
  display: none;
}

.ic-Editor-Section__hr {
  display: block;
  width: 100px;
  margin: 51px auto 41px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}

.ic-Editor-Section__content {
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}
.ic-Editor-Section__inner {
  width: 700px;
  position: relative;
  right: 0%;
  margin: 0 auto;
}
